body{
  background-color:  #02010a;
  font-family:'Dancing Script', cursive;
  color: white;
  animation: rebote 2s;
}

@-webkit-keyframes rebote {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }

}

header{
  border-radius: 10px 10px 0 0;
  background: #5b7989;
  display: flex;
}

h1{
  text-shadow: 2px 2px 2px black;
  width: 50%;
  padding-left: 30px;
}
nav{
  width: 50%;
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

a:link{
  color: white;
  text-decoration:none;
}

.Galeria{
  background-color: #d5c75f;
  border: solid 1px;
  text-align: center;
  display: flex;
  padding: 10px;
}
 section div{
  width: 33%;
}
figure img{
  width: 100%;
}

img{
  box-shadow:2px 2px 2px #02010a;
}

footer{
  display: flex;
  background-color: #C6d5c5;
  font-size: 20px;
  color: black;
  padding-left: 30px;
  border-radius: 0px 0px 10px 10px;
}

footer div{
    width: 25%;
}

#img1{
  -webkit-filter: blur(10 px);
}

#img2, #img4, #img6{
  -webkit-filter: grayscale(100%);
}

#img3{
  -webkit-filter: sepia(90%);
}

.contenido{
  width: 900px;
  margin: 0 auto;
}
